/* FONTS

    font-family: 'Advent Pro', sans-serif;
    font-family: 'Armata', sans-serif;
    font-family: 'Audiowide', cursive;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Monoton', cursive; 
    font-family: 'Baloo 2', cursive;
    font-family: 'Cormorant SC', serif;
    font-family: 'Ubuntu', sans-serif;

*/




* {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    /* cursor: none; */
}

#nav-bar {
    margin: 0;
    position: fixed;
    text-decoration: none;
    z-index: 1;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-bar ul li {
    float: left;
    padding: 20px 30px 0px;
}

#nav-bar ul li a {
    display: block;
    color: rgb(216, 216, 216);
    text-align: center;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 2px;
    background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)) center bottom; /*OR bottom right OR bottom left*/
    background-size: 0% 2px;
    background-repeat:no-repeat; 
    transition: all 0.45s;
}

#nav-bar ul li a:hover {
    color: white;
    background-size: 100% 2px;
}

#container {
    background-color: black;
}

#bg-image {
    height: 100vh;
    background-image: url("../images/top1.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    opacity: 0.65;
    filter: blur(5px) sepia(30%);
}

#text-box {
    padding: 60px 50px;
    width: 50%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px white;
    border-style: groove;
}

#hero-subtitle {
    font-family: 'Baloo 2', cursive;
    font-size: 25px;
    padding-bottom: 10px;
}

#hero-name {
    font-family: 'Audiowide', cursive;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 10px;
    word-spacing: 20px;
    padding-bottom: 10px;
}

#hero-paragraph {
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    line-height: 25px;
}

#social {
    color: whitesmoke;
}

#social a img {
    filter: invert();
    height: 50px;
    width: 50px;
}


/* CURSOR BEGINNING*/

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}


/* CURSOR END */